@use "../custom" as *;
@use "../component/mixins" as *;
.get-start{
    padding:4rem 0;
    
    background-color: rgba($color: #000000, $alpha: 0.1);
    .guarantee{

        color: white;
        padding:3.5rem 4rem;
        i{
            font-size: 1.6rem;
           
        }
    
    }
}
