@use "../custom" as *;
@use "../component/mixins" as *;

.portfolio {
    padding: 4rem 0;

    &-box {
        position: relative;
        margin-bottom: 1.2rem;
        height: 18.5rem;
        border-top: 0.5rem solid rgba($primary, 0.6);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }

        &--info {
            background-color: rgba($primary, 0.6);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;

            .caption {

                width: 70%;
                @include absoluteCenter;
                color: $white;

                h4 {
                    font-size: 600;
                    font-size: 1.4rem;

                }

                p {
                    font-size: 1.2rem;
                }
            }
        }

        &:hover {
            img{
                transform: scale(1.5);
                @include transitionProperty;
            }
            .portfolio-box--info{
                opacity: 1;
                visibility: visible;
                @include transitionProperty;
            }
        }

    }


}